.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  position: relative;
  justify-content: center; }
  .row-flex > * {
    flex-grow: 1;
    width: 1%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative; }
  .row-flex > * > * {
    z-index: 0; }
  .row-flex > * > * > * {
    max-width: 100%; }
  .row-flex > * > * > img {
    display: block;
    margin: 0 auto; }
  .row-flex img {
    max-width: 100%; }

@media (max-width: 599.9px) {
  .row-flex > * {
    width: 100%; } }

.row-flex:before, .row-flex:after {
  content: '';
  display: table;
  width: 100%; }

.no-padding .row-flex > *, .text-image__flush-image .row-flex > * {
  padding: 0; }
  .no-padding .row-flex > *.text-image--text > * > *, .text-image__flush-image .row-flex > *.text-image--text > * > * {
    padding: 1em; }

.row-flex > .align-middle {
  justify-content: center;
  vertical-align: middle; }

.row-flex > .align-bottom {
  justify-content: flex-end;
  vertical-align: bottom; }

.row-flex > .align-center {
  text-align: center; }
  .row-flex > .align-center ul {
    text-align: left;
    text-align: start; }

.row-flex > .align-right {
  text-align: right;
  text-align: end; }

.text-image {
  background-size: cover;
  background-position: center center;
  color: #646466;
  position: relative;
  --bg: #fff;
  background-color: var(--bg);
  color: #333; }
  .text-image .row-flex > .col1 {
    width: 100%; }
  @media (min-width: 600px) {
    .text-image .row-flex > .col3 {
      width: calc(1/3 * 100%);
      flex-grow: 0; }
    .text-image .row-flex > .col23 {
      width: calc(2/3 * 100%);
      flex-grow: 0; } }
  .text-image:not(.fixed-bg) .fixed-bg--image {
    display: none; }
  .text-image:not(.text-image__contain) .row-flex {
    max-width: none; }
  .text-image.text-image__contain .row-flex {
    max-width: var(--page-width, 1036px); }
  .text-image.text-image__stacked .row-flex > * {
    width: 100%; }
  .text-image.text-image__small {
    font-size: small; }
  .text-image .row-flex > .video > div {
    padding-top: 56.25%;
    position: relative; }
    .text-image .row-flex > .video > div > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      border: 0; }
  .text-image.transparent {
    background-color: transparent;
    overflow: hidden; }
    .text-image.transparent .row-flex {
      box-shadow: 0 0 0 50vw var(--bg); }
      .text-image.transparent .row-flex > :last-child {
        margin-right: -.1px; }
      .text-image.transparent .row-flex > *:not(.transparent-circle-column), .text-image.transparent .row-flex > .transparent-circle-column > :not(.transparent-circle) {
        background: var(--bg); }
      .text-image.transparent .row-flex > .transparent-circle-column {
        padding: 0;
        border: 1em solid var(--bg);
        overflow: hidden; }
        .text-image.transparent .row-flex > .transparent-circle-column .transparent-circle div {
          position: relative;
          max-width: 240px;
          max-width: var(--max-width, 240px);
          margin: 0 auto; }
          .text-image.transparent .row-flex > .transparent-circle-column .transparent-circle div.square-image-mask {
            position: absolute; }
          .text-image.transparent .row-flex > .transparent-circle-column .transparent-circle div img {
            display: inline-block;
            vertical-align: middle;
            max-width: calc(70% - 2em);
            max-height: calc(70% - 2em);
            /*
    						object-fit: contain;
    						top: 50%;
    						left: 50%;
    						transform: translate3d(-50%,-50%,0);
    */
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0); }
          .text-image.transparent .row-flex > .transparent-circle-column .transparent-circle div:before {
            content: '';
            display: inline-block;
            padding-bottom: 100%;
            vertical-align: middle;
            width: 0; }
          .text-image.transparent .row-flex > .transparent-circle-column .transparent-circle div:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            box-shadow: 0 0 0 50vw var(--bg);
            z-index: 0; }
        .text-image.transparent .row-flex > .transparent-circle-column > *:not(.transparent-circle) {
          z-index: 1; }
  .text-image:not(.fixed-bg).text-image__white {
    --bg: #fff; }
  .text-image:not(.fixed-bg).text-image__light {
    --bg: #ededef; }
  .text-image:not(.fixed-bg).text-image__dark {
    --bg: #544c64; }
  .text-image.text-image__dark {
    color: #d1d3d4; }
  .text-image.text-image__stick-to-bottom .row-flex > .text-image--image {
    padding-bottom: 0;
    justify-content: flex-end; }
  .text-image.text-image__stick-to-top .row-flex > .text-image--image {
    padding-top: 0;
    justify-content: flex-start; }
  .text-image.text-image__stick-to-right .row-flex > .text-image--image {
    padding-right: 0; }
  .text-image.text-image__stick-to-right .row-flex > .text-image--image > * > img {
    margin-right: 0; }
  .text-image.text-image__stick-to-left .row-flex > .text-image--image {
    padding-left: 0; }
  .text-image.text-image__stick-to-left .row-flex > .text-image--image > * > img {
    margin-left: 0; }
  .text-image.text-image__purple-background, .text-image.text-image__purple-text-background .text-image--text, .text-image.theme-purple, .text-image.theme-purple .text-image--text {
    /*
		background: var(--color-purple);
		background: linear-gradient(45deg, var(--color-violet), var(--color-purple));
*/
    color: #fff; }
  @media (min-width: 600px) {
    .text-image.text-image__two-columns .text-image--text p {
      columns: 2; } }
  .text-image.text-image__offset > .row-flex {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(4, 1fr); }
    .text-image.text-image__offset > .row-flex:before, .text-image.text-image__offset > .row-flex:after {
      display: none; }
    .text-image.text-image__offset > .row-flex > .text-image--text {
      grid-column: 1/3;
      grid-row: 1/3;
      width: auto;
      z-index: 1; }
      .text-image.text-image__offset > .row-flex > .text-image--text:last-child {
        grid-column: -3/-1; }
    .text-image.text-image__offset > .row-flex > .text-image--image {
      grid-column: -4/-1;
      grid-row: -3/-1;
      width: auto;
      max-width: 100%; }
      .text-image.text-image__offset > .row-flex > .text-image--image:first-child {
        grid-column: 1/4; }
  .text-image.text-image__offset.text-image__offset-bottom > .row-flex > .text-image--text {
    grid-row: -1/-3; }
  .text-image.text-image__offset.text-image__offset-bottom > .row-flex > .text-image--image {
    grid-row: 1/3; }
  .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--text {
    grid-column: 1/4; }
    .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--text:last-child {
      grid-column: -4/-1; }
  .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--image {
    grid-column: -3/-1; }
    .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--image:first-child {
      grid-column: 1/3; }

@media (max-width: 899.9px) {
  .text-image.text-image__offset > .row-flex, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex {
    grid-template-rows: 1fr 2em 1fr; }
    .text-image.text-image__offset > .row-flex > .text-image--image, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--image {
      grid-column: 1/-1; }
      .text-image.text-image__offset > .row-flex > .text-image--image:first-child, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--image:first-child {
        grid-column: 1/-1;
        grid-row: 1/3; }
    .text-image.text-image__offset > .row-flex > .text-image--text, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--text {
      margin: 0 1em; }
      .text-image.text-image__offset > .row-flex > .text-image--text:last-child, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--text:last-child {
        grid-column: 1/-1;
        grid-row: -3/-1; }
      .text-image.text-image__offset > .row-flex > .text-image--text:first-child, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex > .text-image--text:first-child {
        grid-column: 1/-1;
        grid-row: 1/3; } }

@media (max-width: 599.9px) {
  .text-image.text-image__offset > .row-flex, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex {
    grid-template-rows: 1fr 2em auto; }
    .text-image.text-image__offset > .row-flex .text-image--background .n-aspect:not(.text-image--video), .text-image.text-image__offset.text-image__offset-wide-text > .row-flex .text-image--background .n-aspect:not(.text-image--video) {
      display: flex; }
      .text-image.text-image__offset > .row-flex .text-image--background .n-aspect:not(.text-image--video):before, .text-image.text-image__offset.text-image__offset-wide-text > .row-flex .text-image--background .n-aspect:not(.text-image--video):before {
        padding-top: calc(100%/1.5); } }

.two-text-image .text-image, .two-text-image .text-image.text-image__white, .two-text-image .text-image.text-image__light, .two-text-image .text-image.text-image__dark {
  background-color: transparent; }

@supports (clip: rect(auto, auto, auto, auto)) {
  .text-image.fixed-bg {
    will-change: scroll;
    background-size: 0;
    position: relative;
    --bg: transparent; }
    .text-image.fixed-bg .fixed-bg--image {
      position: absolute;
      background-size: 0;
      z-index: -1;
      clip: rect(auto, auto, auto, auto); }
      .text-image.fixed-bg .fixed-bg--image, .text-image.fixed-bg .fixed-bg--image:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit; }
      .text-image.fixed-bg .fixed-bg--image:before {
        content: '';
        position: fixed;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        transform: translate3d(0, 0, 0); } }

.text-image .text-image--background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.text-image--fallback-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.text-image .text-image--background {
  display: none;
  visibility: hidden; }

@supports (object-fit: cover) {
  .text-image.fixed-bg .text-image--background {
    position: absolute;
    clip: rect(auto, auto, auto, auto);
    width: 100%;
    height: 100%; }
    .text-image.fixed-bg .text-image--background img {
      position: fixed;
      transform: translate3d(0, 0, 0); }
  .text-image .text-image--image .text-image--background {
    margin: -1em; }
  .text-image .text-image--background {
    display: initial;
    visibility: visible; }
    .text-image .text-image--background img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: none; }
  .text-image--fallback-background {
    display: none; } }

.text-image.text-image__white-box .text-image--text > * > * {
  box-sizing: border-box;
  width: 460px;
  width: 100%;
  max-width: 100%;
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 1.5em; }
  .text-image.text-image__white-box .text-image--text > * > * > :first-child {
    margin-top: 0; }
  .text-image.text-image__white-box .text-image--text > * > * h2 {
    color: var(--color-purple); }
  .text-image.text-image__white-box .text-image--text > * > * a[href]:not(.btn) {
    color: #439da6; }

@media (min-width: 600px) {
  .text-image.text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 1; }
    .text-image.text-image__checkerboard ~ .text-image__checkerboard .row-flex > *:first-child {
      order: 2; }
  .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 3; }
  .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 1; }
    .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > *:first-child {
      order: 2; }
  .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 3; }
  .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 1; }
    .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > *:first-child {
      order: 2; }
  .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 3; }
  .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > * {
    order: 1; }
    .text-image.text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard ~ .text-image__checkerboard .row-flex > *:first-child {
      order: 2; }
  .text-image.text-image__flush-image .text-image--image {
    position: relative; }
    .text-image.text-image__flush-image .text-image--image picture {
      position: static; }
      .text-image.text-image__flush-image .text-image--image picture img {
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        height: 100%;
        object-fit: cover;
        object-position: left; }
  .text-image.text-image__flush-image .text-image--image:first-child > div picture img {
    right: 0;
    left: auto;
    object-position: right; }
  .text-image.text-image__flush-image .row-flex > div:not(.text-image--image):first-child > div {
    display: flex;
    justify-content: flex-end; }
  .text-image.text-image__flush-image .row-flex > div.text-image--text:not(.text-image--image) > div > * {
    width: 518px;
    width: calc(var(--page-width, $page-width)/2); } }

@media (max-width: 599.9px) {
  .text-image.text-image__flush-image .text-image--image > div picture {
    width: 100%;
    min-height: calc(100vw * var(--height)/var(--width)); }
    .text-image.text-image__flush-image .text-image--image > div picture img {
      width: 100%; } }

_:-ms-lang(x), .row-flex {
  display: table;
  table-layout: fixed; }

_:-ms-lang(x), .row-flex > * {
  display: table-cell;
  width: 100%;
  vertical-align: top; }

_:-ms-lang(x), .text-image.text-image__stacked .row-flex {
  display: block; }

_:-ms-lang(x), .text-image.text-image__stacked .row-flex > * {
  display: block; }

_:-ms-lang(x), .text-image {
  overflow: hidden; }

.text-image--video, .text-image--video.n-aspect {
  --width: 1920;
  --height: 1080;
  background: lightgrey;
  margin: 3em 3%;
  width: calc(2*var(--page-width)/3);
  max-width: 94%;
  box-shadow: 0 0 10px 5px var(--color-purple-30); }
  .text-image--video iframe, .text-image--video.n-aspect iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    border: none; }
  .text-image--video .video-preview, .text-image--video.n-aspect .video-preview {
    padding: 1px; }

.text-image--video-container {
  padding: 10%;
  background: rgba(128, 0, 128, 0.1);
  color: var(--color-purple); }
  .text-image--video-container .text-image--video {
    margin: 0 auto;
    margin-inline-start: -50%; }

.text-image.text-image__video-offset > .row-flex > :last-child {
  flex-grow: 2; }

.text-image.text-image__video-offset > .row-flex .row-flex > :last-child {
  flex-grow: .5; }

.text-image.text-image__video-offset > .row-flex ul {
  padding: 0;
  list-style: none; }

.text-image.text-image__video-offset > .row-flex li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 5em;
  max-width: 100%;
  border-bottom: 2px solid;
  margin: 2em 0; }

/*# sourceMappingURL=text-media.map */