$page-width: 1036px;
$breakpoint_mobile: 600px;
$breakpoint_tablet: 900px;

.n-aspect {
  display: inline-block;
  vertical-align: middle; // Remove unwanted bottom space
  width: calc(1px * var(--width, 10000));
  max-width: 100%;
  --ratio: initial; // Don't inherit ratio from ancestors
  --width: initial;
  --height: initial;
  aspect-ratio: var(--ratio, calc(var(--width) / var(--height)));

  > img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;

    object-fit: cover; // aspect-ratio sub pixel fix
    height: 100%;
  }
}

.text-media {
  --page-width: 1280px;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: var(--color, #333);
  background-color: var(--bg, white);

  > :not([class*="col-"]) {
    width: 1%;
  }

  > * {
    flex-grow: 1;
    flex-direction: column;
    padding: var(--padding-y, 1em) var(--padding-x, 1em);
    position: relative;
    box-sizing: border-box;

    > * {
      max-width: 100%;
      z-index: 1;
      position: relative; // Enable the z-index
      word-break: break-word;

      &.n-aspect {
        max-width: none;
        width: 100%;
      }
    }

    > img {
      display: block;
      margin: 0 auto;
    }
  }

  @media not screen and (min-width: $breakpoint_mobile) {
    > *, > :not([class*=col-]) {
      width: 100%;
    }
  }

  picture {
    display: inline-grid; // To position the placeholder behind it without absolute positioning
    position: static;
  }

  &.no-padding > * {
    padding: 0;

    &.text-media__text > * > * {
      padding: var(--padding-y, 1em) var(--padding-x, 1em);
    }
  }

  img {
    max-width: 100%;
    height: auto;
    z-index: 1;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > .col1 {
    width: 100%;
  }

  > .align-middle {
    justify-content: center;
    vertical-align: middle;
    align-self: center;
  }

  > .align-bottom {
    justify-content: flex-end;
    vertical-align: bottom;
    align-self: end;
  }

  > .align-center {
    text-align: center;

    ul {
      text-align: start;
    }
    picture {
      img {
        justify-self: center;
      }
    }
  }

  .align-right {
    text-align: end;
  }

  @media (min-width: $breakpoint_mobile) {
    > .col3 {
      width: calc(1 / 3 * 100%);
      flex-grow: 0;
    }

    > .col23 {
      width: calc(2 / 3 * 100%);
      flex-grow: 0;
    }
  }

  &:not([class*="theme-"]) {
    @media (prefers-color-scheme: dark) {
      color: var(--color-dark-mode, white);
      background-color: var(--bg-dark-mode, #333);

      a[href]:not(.btn) {
        color: var(--color-dark-mode, blue);
      }
    }
  }

  &.text-media--contain {
    max-width: min(var(--page-width, $page-width), 100%);
    margin-left: auto;
    margin-right: auto;
  }

  &.text-media--limit {
    padding-left: calc(50vw - var(--page-width) / 2);
    padding-right: calc(50vw - var(--page-width) / 2);
    .text-media {
      padding-left: unset;
      padding-right: unset;
    }
  }

  &.text-media--stacked {
    display: block;

    > * {
      width: 100%;
    }
  }

  &.text-media--small {
    font-size: small;
  }

  &:not(.text-media--fixed-bg) {
    &.theme-white {
      --bg: #fff;
    }

    &.theme-light {
      --bg: #ededef;
    }

    &.theme-dark {
      --bg: #544c64;
    }
  }

  &.theme-dark {
    color: #d1d3d4;
  }

  &.text-media--stick-to-bottom {
    > .text-media__image {
      padding-bottom: 0;
      justify-content: flex-end;
    }
  }

  &.text-media--stick-to-top {
    > .text-media__image {
      padding-top: 0;
      justify-content: flex-start;
    }
  }

  &.text-media--stick-to-right {
    > .text-media__image {
      padding-inline-end: 0;
    }

    > .text-media__image > * > img {
      margin-inline-end: 0;
    }
  }

  &.text-media--stick-to-left {
    > .text-media__image {
      padding-inline-start: 0;
    }

    > .text-media__image > * > img {
      margin-inline-start: 0;
    }
  }

  &[class*="text-media--stick"] {
    picture {
      display: grid;
    }
  }

  &.text-media--purple-background,
  &.text-media--purple-text-background .text-media__text,
  &.theme-purple,
  &.theme-purple .text-media__text {
    color: #fff;
  }

  &.text-media--two-columns .text-media__text p {
    @media (min-width: $breakpoint_mobile) {
      columns: 2;
    }
  }

  &.text-media--offset {
    --color-dark-mode: var(--color);
    background: none;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);

    > .text-media__text {
      grid-column: 1/3;
      grid-row: 1/3;
      width: auto;
      background-color: var(--bg);
      z-index: 2;
      // Firefox bug
      max-width: calc(100%);

      &:last-child {
        grid-column: -3/-1;
      }
    }

    > .text-media__image {
      grid-column: -4/-1;
      grid-row: -3/-1;
      width: auto;
      max-width: 100%;

      &:first-child {
        grid-column: 1/4;
      }
    }

    &.text-media--offset-bottom {
      > .text-media__text {
        grid-row: -1/-3;
      }

      > .text-media__image {
        grid-row: 1/3;
      }
    }

    &.text-media--offset-wide-text {
      > .text-media__text {
        grid-column: 1/4;

        &:last-child {
          grid-column: -4/-1;
        }
      }

      > .text-media__image {
        grid-column: -3/-1;

        &:first-child {
          grid-column: 1/3;
        }
      }
    }
  }

  @media not screen and (min-width: $breakpoint_tablet) {
    &.text-media--offset {
      &,
      &.text-media--offset-wide-text {
        grid-template-rows: 1fr 2em 1fr;

        > .text-media__image {
          grid-column: 1/-1;

          &:first-child {
            grid-column: 1/-1;
            grid-row: 1/3;
          }
        }

        > .text-media__text {
          margin: 0 1em;

          &:last-child {
            grid-column: 1/-1;
            grid-row: -3/-1;
          }

          &:first-child {
            grid-column: 1/-1;
            grid-row: 1/3;
          }
        }
      }
    }
  }

  @media not screen and (min-width: $breakpoint_mobile) {
    &.text-media--offset {
      &,
      &.text-media__offset-wide-text {
        grid-template-rows: 1fr 2em 1fr;

        .text-media__background .n-aspect:not(.text-media__video) {
          display: flex;

          &:before {
            padding-top: calc(100% / 1.5);
          }
        }
      }
    }
  }

  .text-media__background {
    position: absolute;
    inset: 0;
    width: 100%;
    padding: 0;

    display: flex; // Auto center the image
    visibility: visible;
    z-index: 0;
    overflow: hidden; // Crop the blurred placeholder image bleed

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.text-media--white-box .text-media__text > * {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    background: #fff;
    color: #333;
    padding: calc(1.5 * var(--padding-y, 1em)) calc(1.5 * var(--padding-x, 1em));

    > :first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $breakpoint_mobile) {
    &.text-media--checkerboard:not(.text-media--offset) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > * {
        width: auto;
        grid-row: 1;
      }
    }
  }

  picture.text-media__image-placeholder:not([data-loaded]) {
    // JS adds this class if --placeholder exists. JS to remove it on image loaded, to avoid blurry placeholder visible through transparency.
    &:after {
      content: "";
      background: var(--placeholder, none) center / cover;
      filter: blur(10px);
      mask: linear-gradient(red, red);
      position: absolute;
      inset: 0;
    }
  }

  video,
  iframe {
    max-width: 100%;
    border: none;
  }

  &__image {
    video,
    iframe {
      width: 100%;
    }
  }

  figure {
    margin: 0;
  }

  &--fixed-bg {
    will-change: scroll;
    position: relative;
    --bg: transparent;
    overflow: hidden;
    > .text-media__background {
      position: absolute;
      clip: rect(auto, auto, auto, auto);
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;

      img, &.text-media__image-placeholder:not([data-loaded]):after, picture.text-media__image-placeholder:not([data-loaded]):after {
        position: fixed;
        transform: translate3d(0, 0, 0); // iOS Safari
      }
    }
    
  }

}

:nth-child(2n of .text-media--checkerboard:not(.text-media--offset)) > :last-child {
  grid-column: 1;
}

.two-text-media .text-media {
  &,
  &.theme-white,
  &.theme-light,
  &.theme-dark {
    background-color: transparent;
  }
}
