/* Demo style */

$breakpoint_mobile: 600px;

body {
	@media (prefers-color-scheme: dark) {
		color: #eee;
		background: #111;
	}

	margin: 0;
	line-height: 1.4;
	font-family: system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	"Fira Sans",
	"Droid Sans",
	"Helvetica Neue",
	sans-serif;

	min-height: 150vh;
}

body > h1,
body > h2,
body > h3 {
	text-align: center;
}

a[href] {
	text-decoration: none;
	font-weight: bold;
}

.btn {
	color: #333;
	background: #ddd;
	border-radius: 3px;
	padding: 0.5em 1em;
	display: inline-block;
}

pre {
	overflow: auto;
}

code[class*="language-"] {
	font-family: monospace !important;
	line-height: 1.9 !important;
	display: block;
}

.code {
	position: relative;
	margin: 1.5em auto;
	display: inline-block;
	max-width: 100%;
	overflow-y: hidden;

	@media (max-width: $breakpoint_mobile) {
		width: 100%;
	}

	pre {
		padding: 1em;
		margin: 0.5em 0;
	}

	button.n-btn {
		position: absolute;
		bottom: 0.67em;
		right: 0;
		font-size: 0.75em;
		margin: 0;
		-webkit-appearance: none;
		appearance: none;
		border: none;
		cursor: pointer;
		font-weight: bold;
	}
}

body pre[class*="language-"] {
	padding-top: 0;
	// margin-top: -2em;
}

.text-media {
	margin-top: 1em;
	--bg: #eee;
	--color: #333;

	--bg-dark-mode: #333;
	--color-dark-mode: #eee;

	@media (max-width: $breakpoint_mobile) {
		> * {
			text-align: center;
		}
	}
}

.resources {

	[href="text-media.min.js"],
	[href="text-media.min.css"] {
		text-decoration: none;

		&:after {
			content: attr(data-size);
			padding-inline-start: 1ch;
			min-width: 6ch;
			display: inline-block;
			font-size: 0.75em;
			vertical-align: top;
			font-weight: normal;
		}

		&[data-size="0.0 KB"]:after {
			opacity: 0;
		}

		b {
			text-decoration: underline;
			min-width: 4ch;
			display: inline-block;
		}
	}
}

h1:after {
	content: attr(data-version);
	padding-inline-start: 1ch;
	font-size: 0.5em;
	font-weight: normal;
	vertical-align: super;
	min-width: 3ch;
	display: inline-block;
}